RAPIDAPI_KEY = dummy_key
OLLAMA_BASE_URL=http://host:11434/v1/
OLLAMA_MODEL=qwen3:4b
OLLAMA_HOST=localhost:11434
EMBEDDING_MODEL=qwen3-embedding:0.6b
OPENMETEO_BASE_URL = "https://api.open-meteo.com/v1/forecast"

DATABASE_URL=
REDIS_URL=redis://localhost:6379